<div class="component">

<br>

  <div class="card"  style="width: 60%;margin-left: 20%; padding-top: 10px;" >
      <h4 style="text-align: center">  Pre - registration</h4>
      <hr>
    <div class="card-body">

    <form [formGroup]="formdata" (ngSubmit)="SavePreData()">


      <label for="board" class="form-label mb-0">Qualifying Board
        (Intermediate / Equivalent)</label>
      <select class="form-select" id="board" aria-label="Default select example" formControlName = "board" placeholder="111"  (change)="OnChangeBoard()" >

        <option value="55">Board of Intermediate Education, Telangana</option>
        <option value="6">Other Board</option>

      </select>
      <span class="help-block" *ngIf="!formdata.get('board')?.valid && formdata.get('board')?.touched"> enter board
    </span><br>
    <div class="input-group mb-3 mt-3">
      <span class="input-group-text" id="basic-addon3">Hall Ticket Number</span>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" formControlName = "hallticket">
    </div>
  <span class="help-block" *ngIf="!formdata.get('hallticket')?.valid && formdata.get('hallticket')?.touched"> enter board </span>

    <div class="input-group mb-3 mt-3">
      <span class="input-group-text" id="basic-addon3">Date of Birth</span>
      <input type="date" class="form-control" id="basic-url" aria-describedby="basic-addon3" formControlName = "dob">
    </div>
    <span class="help-block" *ngIf="!formdata.get('dob')?.valid && formdata.get('dob')?.touched"> enter Date of Birth </span>

      <label for="passedout" class="form-label mt-3">Year of Pass out</label>
      <select class="form-select" id="passedout" aria-label="Default select example" formControlName = "passedout">
        <option value="0">--Select Year--</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
        <option value="2013">2013</option>
        <option value="2012">2012</option>
        <option value="2011">2011</option>
        <option value="2010">2010</option>
        <option value="2009">2009</option>
        <option value="2008">2008</option>
        <option value="2007">2007</option>
        <option value="2006">2006</option>
        <option value="2005">2005</option>
        <option value="2004">2004</option>
        <option value="2003">2003</option>
        <option value="2002">2002</option>
        <option value="2001">2001</option>
        <option value="2000">2000</option>
        <option value="1999">1999</option>
        <option value="1998">1998</option>
        <option value="1997">1997</option>
        <option value="1996">1996</option>
        <option value="1995">1995</option>
        <option value="1994">1994</option>
        <option value="1993">1993</option>
        <option value="1992">1992</option>
        <option value="1991">1991</option>
        <option value="1990">1990</option>
        <option value="1989">1989</option>
        <option value="1988">1988</option>
        <option value="1987">1987</option>
        <option value="1986">1986</option>
        <option value="1985">1985</option>
        <option value="1984">1984</option>
        <option value="1983">1983</option>
        <option value="1982">1982</option>
        <option value="1981">1981</option>
        <option value="1980">1980</option>
        <option value="1979">1979</option>
        <option value="1978">1978</option>
        <option value="1977">1977</option>
        <option value="1976">1976</option>
        <option value="1975">1975</option>
        <option value="1974">1974</option>
        <option value="1973">1973</option>
        <option value="1972">1972</option>
        <option value="1971">1971</option>
        <option value="1970">1970</option>
        <option value="1969">1969</option>
        <option value="1968">1968</option>
        <option value="1967">1967</option>
        <option value="1966">1966</option>
        <option value="1965">1965</option>
        <option value="1964">1964</option>
        <option value="1963">1963</option>
        <option value="1962">1962</option>
        <option value="1961">1961</option>
        <option value="1960">1960</option>
        <option value="1959">1959</option>
        <option value="1958">1958</option>
        <option value="1957">1957</option>
        <option value="1956">1956</option>

      </select>
      <span class="help-block" *ngIf="!formdata.get('passedout')?.valid && formdata.get('passedout')?.touched"> enter passed out year
      </span><br>

      <label for="passedout" class="form-label mt-3">Other Board</label>
      <select class="form-select" id="passedout" aria-label="Default select example" formControlName = "otherboard">
        <option value="0" selected>--Select Board--</option>
        <option value="225">State Board of Technical Education &amp; Training</option>
        <option value="10">BOARD OF INTERMEDIATE EDUCATION, ANDHRA PRADESH</option>
        <option value="56">TELANGANA OPEN SCHOOL SOCIETY</option>
        <option value="1">ANDHRA PRADESH OPEN SCHOOL SOCIETY</option>
        <option value="15">CENTRAL BOARD OF SECONDARY EDUCATION(CBSE)</option>
        <option value="37">NATIONAL INSTITUTE OF OPEN SCHOOLING</option>
        <option value="2">ASSAM HIGHER SECONDARY EDUCATION COUNCIL</option>
        <option value="20">COUNCIL FOR THE INDIAN SCHOOL CERTIFICATE EXAMINATIONS(ISCE)</option>
        <option value="3">ASSAM SANSKRIT BOARD</option>
        <option value="4">BANASTHALI VIDYAPITH</option>
        <option value="5">BIHAR BOARD OF OPEN SCHOOLING &amp; EXAMINATION</option>
        <option value="6">BIHAR SANSKRIT SHIKSHA BOARD</option>
        <option value="7">BIHAR SCHOOL EXAMINATION BOARD</option>
        <option value="8">BIHAR STATE MADRASA EDUCATION BOARD</option>
        <option value="9">BOARD OF HIGHER SECONDARY EXAMINATIONS, TAMIL NADU</option>
        <option value="11">BOARD OF SCHOOL EDUCATION HARYANA</option>
        <option value="12">BOARD OF SCHOOL EDUCATION UTTARAKHAND</option>
        <option value="13">BOARD OF SECONDARY EDUCATION MADHYA PRADESH</option>
        <option value="14">BOARD OF SECONDARY EDUCATION RAJASTHAN</option>
        <option value="16">CHHATISGARH BOARD OF SECONDARY EDUCATION</option>
        <option value="17">CHHATISGARH MADRASA BOARD</option>
        <option value="18">CHHATISGARH SANSKRIT BOARD, RAIPUR</option>
        <option value="19">CHHATISGARH STATE OPEN SCHOOL</option>
        <option value="21">COUNCIL OF HIGHER SECONDARY EDUCATION, MANIPUR</option>
        <option value="22">COUNCIL OF HIGHER SECONDARY EDUCATION, ODISHA</option>
        <option value="23">DAYALBAGH EDUCATIONAL INSTITUTE(DEEMED UNIVERSITY)</option>
        <option value="24">GOA BOARD OF SECONDARY AND HIGHER SECONDARY EDUCATION</option>
        <option value="25">GOVT. OF KARNATAKA DEPT. OF PRE-UNIVERSITY EDUCATION</option>
        <option value="26">GUJARAT SECONDARY AND HIGHER SECONDARY EDUCATION BOARD</option>
        <option value="27">HIMACHAL PRADESH BOARD OF SCHOOL EDUCATION</option>
        <option value="28">JAMMU AND KASHMIR STATE BOARD OF SCHOOL EDUCATION</option>
        <option value="29">JHARKHAND ACADEMIC COUNCIL,RANCHI</option>
        <option value="30">KERALA BOARD OF HIGHER SECONDARY EDUCATION</option>
        <option value="31">MADHYA PRADESH STATE OPEN SCHOOL</option>
        <option value="32">MAHARASHTRA STATE BOARD OF SECONDARY AND HIGHER SECONDARY EDUCATION</option>
        <option value="33">MAHARISHI PATANJALI SANSKRIT SANSTHAN</option>
        <option value="34">MEGHALAYA BOARD OF SCHOOL EDUCATION</option>
        <option value="35">MIZORAM BOARD OF SCHOOL EDUCATION</option>
        <option value="36">NAGALAND BOARD OF SCHOOL EDUCATION</option>
        <option value="38">PUNJAB SCHOOL EDUCATION BOARD</option>
        <option value="39">RAJASTHAN STATE OPEN SCHOOL, JAIPUR</option>
        <option value="40">RASHTRIYA SANSKRIT SANSTHAN</option>
        <option value="41">TRIPURA BOARD OF SECONDARY EDUCATION</option>
        <option value="42">UTTAR PRADESH BOARD OF HIGH SCHOOL &amp; INTERMEDIATE EDUCATION</option>
        <option value="43">UTTAR PRADESH SEC. SANSKRIT EDUCATION COUNCIL</option>
        <option value="44">WEST BENGAL BOARD OF MADRASAH EDUCATION</option>
        <option value="45">WEST BENGAL COUNCIL OF HIGHER SECONDARY EDUCATION</option>
        <option value="46">WEST BENGAL COUNCIL OF RABINDRA OPEN SCHOOLING</option>
        <option value="47">INTERNATION BACCALAUREATE</option>
        <option value="48">BHUTAN COUNCIL FOR SCHOOL EXAMINATIONS &amp; ASSESSMENT</option>
        <option value="49">CAMBRIDGE INTERNATIONAL EXAMINATIONS, UK</option>
        <option value="50">EDEXCEL</option>
        <option value="51">HIGHER SECONDARY EDUCATION BOARD, NEPAL</option>
        <option value="52">INTER BOARD COMITTEE OF CHAIRMEN(IBCC), ISLAMABAD</option>
        <option value="53">MAURITIUS EXAMINATION SYNDICATE</option>
        <option value="54">THE AGA KHAN UNIVERSITY EXAMINATION BOARD, KARACHI</option>
        <option value="57">RGUKT BASAR(IIIT)</option>
        <option value="991">OTHER ABROAD BOARD</option>
        <option value="992">Pre Degree Course(PDC)</option>

      </select>
<span class="help-block" *ngIf="!formdata.get('otherboard')?.valid && formdata.get('otherboard')?.touched"> enter other board
    </span>



      <div class="input-group mb-3 mt-3">
        <span class="input-group-text" id="basic-addon3">Student Aadhaar</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" formControlName = "aadhaar">
      </div>
      <span class="help-block" *ngIf="!formdata.get('aadhaar')?.valid && formdata.get('aadhaar')?.touched"> Student Name </span>


      <div class="input-group mb-3 mt-3">
        <span class="input-group-text" id="basic-addon3">Mobile Number
          (Seeded with Aadhaar)</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" formControlName="mobile_no">
      </div>
      <span class="help-block" *ngIf="!formdata.get('mobile_no')?.valid && formdata.get('mobile_no')?.touched"> enter Mobile Number </span>

      <div class="input-group mb-3 mt-3">
        <span class="input-group-text" id="basic-addon3">Student Name</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" formControlName="student_name">
      </div>
      <span class="help-block" *ngIf="!formdata.get('student_name')?.valid && formdata.get('student_name')?.touched">Enter Student Name </span>

Gender
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" formControlName="gender" id="inlineRadio1" value="M">
        <label class="form-check-label" for="inlineRadio1">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" formControlName="gender" id="inlineRadio2" value="F">
        <label class="form-check-label" for="inlineRadio2">Female</label>
      </div>
      <span class="help-block" *ngIf="!formdata.get('gender')?.valid && formdata.get('gender')?.touched"> Enter Gender </span>

      <div class="input-group mb-3 mt-3">
        <span class="input-group-text" id="basic-addon3">Father Name</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" formControlName="father_name">
      </div>
      <span class="help-block" *ngIf="!formdata.get('father_name')?.valid && formdata.get('father_name')?.touched">Enter Father Name</span>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="q" id="flexCheckDefault" formControlName="declaration">
        <label class="form-check-label" for="flexCheckDefault">
          I hereby state that I have no objection in authenticating myself with Aadhaar based authentication system and consent to providing my Aadhaar number, Biometric data for Aadhaar based        </label>
      </div>
<br>
<div class="text-center">
  <button type="submit" class="btn btn-primary" [disabled]="!formdata.valid">Submit</button>
</div>

      <br>

    </form>

    </div>
  </div>


</div>
